<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HomePage</title>
</head>
<body>
	<h1>{{pageTitle}}</h1>
	<p>{{welcomeMsg}}</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid corporis atque ea. Tempore praesentium consectetur, molestiae eum inventore nesciunt voluptates laudantium culpa dignissimos expedita omnis corporis animi nemo harum soluta!</p>
	<footer><p>Cpoyright {{currentYear}}</p></footer>
</body>
</html>